# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/To-Do List (Python)/*
!/To-Do List (Python)/task/
/To-Do List (Python)/task/*
!/To-Do List (Python)/task/todolist
!/To-Do List (Python)/task/todo.db
